<body>
  <main>
    <section>
      <div class="container py-5 h-200">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <p class="text-end">Hola {{persona}}! <a href="/admin/login/logout" class="btn btn-danger">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a></p>
        </div>
      </div>
    </section>
  </main>
</body>